@import "../colors";

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $light-blue-gray;
    width: 100%;
    .headerWrapper {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      button {
        outline: none;
        border: none;
        border-radius: 0.5rem;
        padding: 0.1rem 0.5rem;
        font-size: 1.5rem;
        background-color: $blue-gray;
        color: $blueWhite;
        margin-right: 0.25rem;
      }
      .Link {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
  footer {
    width: 100%;
    background: $blue-gray;
    color: $blueWhite;
    padding: 0.5rem;
    text-align: center;
  }
}

// @media (min-width: 992px) {
//   .App {
//     display: grid;
//     grid-template-areas:
//       "header header "
//       "nav main "
//       "footer footer ";
//     height: 100vh;
//     grid-template-rows: max-content 1fr max-content;
//     grid-template-columns: max-content 1fr;
//     .Header {
//       grid-area: header;
//       height: 9rem;
//       padding: 0 7rem;
//       display: flex;
//       justify-content: space-between;
//       .title {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: center;
//         .Link {
//           text-decoration: none;
//           color: black;
//           h1 {
//             font-size: 3rem;
//           }
//         }
//         h4 {
//           color: $blue-gray;
//         }
//       }
//       .details {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-end;
//         justify-content: space-evenly;
//         color: $blue-gray;
//         p {
//           font-size: 1.2rem;
//         }
//         a {
//           background: $blue-gray;
//           padding: 0.25rem 0.5rem;
//           border-radius: 0.5rem;
//           text-decoration: none;
//           color: $blueWhite;
//           &:hover {
//             background-color: $blueWhite;
//             color: $blue-gray;
//           }
//         }
//       }
//     }

//     footer {
//       grid-area: footer;
//       background: $blue-gray;
//       color: $blueWhite;
//       padding: 0.5rem;
//     }
//   }
// }
