@import "../colors";
.App {
  display: grid;
  grid-template-areas:
    "header header "
    "nav main "
    "footer footer ";
  height: 100vh;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: max-content 1fr;
  .Header {
    background: $light-blue-gray;
    grid-area: header;
    height: 9rem;
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .Link {
        text-decoration: none;
        color: black;
        h1 {
          font-size: 3rem;
        }
      }
      h4 {
        color: $blue-gray;
      }
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      color: $blue-gray;
      p {
        font-size: 1.2rem;
      }
      a {
        background: $blue-gray;
        padding: 0.25rem 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: $blueWhite;
        &:hover {
          background-color: $blueWhite;
          color: $blue-gray;
        }
      }
    }
  }

  
  footer {
    grid-area: footer;
    background: $blue-gray;
    color: $blueWhite;
    padding: 0.5rem;
  }
}
