@import "../../colors";

.Home {
  color: $blue-gray;
  background: $blueWhite;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    .bioCard {
      margin-bottom: 1rem;
      img {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0.2rem;
        shape-outside: circle(50%);
      }
      p {
        text-align: justify;
      }
    }
    .bioText {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      width: 100%;
      p {
        text-align: justify;
        & + p {
          margin-top: 1rem;
        }
      }
    }
  }
  .projects {
    width: 100%;
    overflow: hidden;
  }
}
