@import "../../colors";

.Home {
  color: $blue-gray;
  background: $blueWhite;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  min-height: 92vh;
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      font-size: 1.5em;
    }
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
    }
    .bioCard {
      margin-bottom: 1rem;
      @media (min-width: 992px) {
        font-size: 0.7em;
        width: 40%;
      }
    }
    .bioText {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      width: 100%;
      @media (min-width: 992px) {
        font-size: 0.7em;
        width: 40%;
      }
      p {
        & + p {
          margin-top: 1rem;
        }
      }
    }
  }
  .projects {
    width: 100%;
    overflow: hidden;
    h3 {
      @media (min-width: 768px) {
        font-size: 1.5em;
      }
    }
  }
}
