@import "../../colors";

.Carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: $blue-gray;
  margin-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  .container {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: inherit;
    .wrapper {
      overflow: hidden;
      div {
        overflow: hidden;
        .ProjectCard {
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          a {
            overflow: hidden;
          }
        }
      }
    }
    button {
      height: 100%;
      color: $blueWhite;
      font-size: 1em;
      font-weight: bold;
      padding: 0.35em 0.5em;
      border: solid 1px rgba(0, 0, 0, 0);
      border-radius: 0.5em;
      outline: none;
      background: $blue-gray;
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 1.5em;
      }
      &:hover {
        background: $blueWhite;
        color: $blue-gray;
        border: solid 1px $blue-gray;
      }
    }
  }
}
