@import "../../colors";

.Navbar {
  .navList {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 2rem;
    .NavItem {
      text-align: center;
      a {
        padding: 0.25rem 0.5rem;
        text-decoration: none;
        background-color: $blue-gray;
        border-radius: 0.5rem;
        color: $blueWhite;
        font-size: 1.5rem;
      }
      & + .NavItem {
        margin-left: 0.25rem;
      }
    }
  }
}
