@import "../../colors";

.Home {
  color: $blue-gray;
  background: $blueWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  .bio {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    div {
      img {
        height: 200px;
        clip-path: circle(40%);
      }
    }
  }
  .contact {
    width: 55%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      color: $blue-gray;
    }
  }
}
