@import "../../colors";
.ProjectDetails {
  background-color: $blueWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 0 1rem;
  margin-bottom: 1.8em;
  @media (min-width: 768px) {
    font-size: 1.5em;
  }
  @media (min-width: 992px) {
    font-size: 0.7em;
  }

  h4 {
    margin-top: 0.5rem;
    color: $blue-gray;
  }
  .title {
    margin-top: 1rem;
    color: $blue-gray;
  }
  .primaryDetails {
    @media (min-width: 992px) {
      width: 80%;
      margin-left: 10%;
      display: flex;
      justify-content: space-between;
    }
    .intro {
      @media (min-width: 992px) {
        width: 30%;
      }
    }
    .techDetails {
      margin-top: 1em;
      @media (min-width: 768px) {
        margin-top: 2em;
      }
      @media (min-width: 992px) {
        width: 30%;
      }
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;
      div {
        @media (min-width: 992px) {
          display: grid;
          place-content: center;
        }
      }
      font-weight: bold;
      border: solid 1px $blue-gray;
      div:nth-child(even) {
        background: $light-blue-gray;
      }
    }
  }
  .personalDetails {
    margin: 1em 0;
    @media (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 1em;
    }
    @media (min-width: 992px) {
      margin-bottom: 3em;
    }
    p + p {
      margin-top: 0.75em;
    }
  }
  .MediaCarousel {
    margin-top: 1em;
    @media (min-width: 768px) {
      margin: 0;
    }
    @media (min-width: 992px) {
      width: 75%;
    }
    img {
      height: 200px;
      @media (min-width: 768px) {
        height: auto;
      }
      width: 100%;
    }
    button {
      @media (min-width: 768px) {
        font-size: 1em;
      }
    }
  }
}
